
html(lang="es")

  head

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Registrar vehiculo
    
    link(rel="stylesheet", href="css/form_style.css")

  body
    
    .container

        form(action="/Car", method="POST")

            .form_container
              h1 REGISTRO DE AUTOS
                .input_container

                    label.input_text(for="plateNumber") Placa del vehiculo
                    input.input(type="text", id="plateNumber", name="plateNumber", required)
                    
                    label.input_text(for="brand") Marca del vehiculo
                    input.input(type="text", id="brand", name="brand", required)    

                .button_container

                    button.button(type="submit", style="background-color: dff0fe; color: black") Guardar
                    a.button(href="/Menu") Volver

            .message        

              if error == null

                p 

              else if error == false 
              
                p(style={color: 'black', 'font-weight': 'bold', 'font-size': '18px',  'font-family': 'Lucida Console'}) #{message}

              else
              
                p(style={color: 'black', 'font-weight': 'bold', 'font-size': '18px',  'font-family': 'Lucida Console'}) #{message}
