
html(lang="es")

  head

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Menu
    
    link(rel="stylesheet", href="css/menu_style.css")

  body
    
    .container
        
        .options_container 
          h1 Menu de Usuario
            .button_container 
            
                a.button(href="/Car", style="background-color: dff0fe; color: black ") Registrar vehiculo
                a.button(href="/Rent", style="background-color: dff0fe; color: black") Rentar vehiculo
                a.button(href="/carList", style="background-color: dff0fe; color: black ") Ver Lista Vehiculos
                a.button(href="/rentList", style="background-color: dff0fe; color: black") Ver Lista Rentas
                a.button(href="/singIn") Cerrar sesión