
html(lang="es")

  head

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Lista rentas
    
    link(rel="stylesheet", href="css/list_style.css")
    
  body
    
    .container

      .button_container

        a.button(href="/Menu") Volver
      .box
        .scrollview_container

          if rents && rents.length > 0
        
            each rent in rents 

              .list_container

                p.list_text(style={color: 'black', 'font-weight': 'bold'})| Numero renta: #{rent.rentNumber}
                p.list_text(style={color: 'black', 'font-weight': 'bold'})| Usuario renta: #{rent.user}
                p.list_text(style={color: 'black', 'font-weight': 'bold'})| Numero placa: #{rent.plateNumber}
                p.list_text(style={color: 'orange', 'font-weight': 'bold'})| Rentado el: #{moment(rent.rentDate).format('DD/MM/YYYY')}

          else

            p.list_text No hay rentas registradas 
                