
html(lang="es")

  head

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Iniciar sesión
    
    link(rel="stylesheet", href="css/form_style.css")

  body
    
    .container

        form(action="/singIn", method="POST")

            .form_container

              h1 INICIO DE SESION

                .input_container

                    label.input_text(for="user") Usuario
                    input.input(type="text", id="user", name="user", required)

                    label.input_text(for="password") Contraseña
                    input.input(type="password", id="password", name="password", required)

                .button_container

                    button.button(type="submit", style="background-color: #eaf1f9; color: black") Iniciar sesión
                    a.button(href="/createAccount") Crear cuenta
                    
            .message        

              if error == null

                p 

              else if error == false 
              
                p(style={color: 'black', 'font-weight': 'bold', 'font-size': '18px',  'font-family': 'Lucida Console'}) #{message}

              else
              
                p(style={color: 'black', 'font-weight': 'bold', 'font-size': '18px',  'font-family': 'Lucida Console'}) #{message}




                